<h1>These are people are from city and they like </h1>

<div>
  <div class="card">

    <% 9.times.each do |party_animal| %>
    <%= render 'shared/card',  pa: party_animal  %>
  <% end %>
  </div>
</div>

