

<div class="container">
  <div class="party-animals-header">
  <% if params[:location].present? %>
    <h1>Party Animals in <%= params[:location].capitalize %> </h1>
  <% end %>
</div>
  <div class="page-header">
    <form class="form-inline" action="/party_animals" method="get" style="display: inline">
      <div class="form-group mx-sm-3 mb-2">
        <label for="insert-city" class="sr-only">Search</label>
        <input  name="location" type="text" class="form-control" placeholder="Search for your city">
          <%= link_to "Let's go", party_animals_path, class: "btn btn-flat" %>
      </div>
    </form>
  </div>

    <div class="cards">
      <% @party_animals.each do |party_animal| %>
        <%= link_to party_animal_path(party_animal) do%>
          <%= render 'shared/card',  pa: party_animal  %>
          <% end %>
      <% end %>
    </div>
   </div>
</div>

<!-- <div></div> -->
