<div class="container">
  <h3><%= @party_animal.party_name %></h3>
  <div class="tag-container">
    <% @party_animal.category.each do |tag| %>
      <div class="tag"><%= tag %></div>
    <% end %>
  </div>

<%= render 'shared/blog-card',  pa: @party_animal  %>