.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testingclassinlinefix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actn-btn {
  margin-top: 10px;
}

.landingpageinputfield {
  margin-right: 10px;
}

.party-animals-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: flex-end;
}
