<div class="container">
  <div>
    <%= form_for([@party_animal, @booking]) do |f| %>
      <%#= text_field_tag 'date', nil, class:'datepicker' %>
      <%= f.text_field :date, class: "datepicker" %>
      <%= f.button :submit %>
    <% end %>
  </div>


</div>



