<div class="container">
  <div class="booking-div">
    <h1>Your booking request has been sent</h1>
    <h2>Booking informations:</h2>
      <p> You invited <%= @booking.party_animal.party_name %> to party on <%= @booking.date.strftime('%A, %b %d')%> </p>
      <%= link_to 'See more Party Animals', party_animals_path, class: "btn btn-info"  %>
  </div>
</div>




