// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.party-animals-header h1 {
  font-size: 32px;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: lighter;
}
