.btn-treehouse {
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  background: #17A891;
  transition: background 0.3s ease;
  margin-right: 20px;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #37C0B0;
  text-decoration: none;
  color: white;
}

.btn-flat {
  color: white;
  padding: 6px 17px;
  border-radius: 4px;
  background: #9BA3A3;
  transition: background 0.3s ease;
  // margin-top: 10px;
}

.btn-flat:hover {
  background: #37C0B0;
  color: white;
}

